[project]
	description = Clouway Http Intelligent Transport Api
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Miroslav Genov (mgenov)
[access "refs/for/refs/*"]
	read = group user/Miroslav Genov (mgenov)
	push = group user/Miroslav Genov (mgenov)
	label-Code-Review = -2..+2 group user/Miroslav Genov (mgenov)
	label-Verified = -1..+1 group user/Miroslav Genov (mgenov)
	rebase = group user/Miroslav Genov (mgenov)
	removeReviewer = group user/Miroslav Genov (mgenov)
	submit = group user/Miroslav Genov (mgenov)
[access "refs/heads/*"]
	read = group user/Miroslav Genov (mgenov)
	create = group user/Miroslav Genov (mgenov)
	push = +force group user/Miroslav Genov (mgenov)
	pushMerge = group user/Miroslav Genov (mgenov)
[access "refs/tags/*"]
	push = +force group user/Miroslav Genov (mgenov)
	pushTag = group user/Miroslav Genov (mgenov)
	pushSignedTag = group user/Miroslav Genov (mgenov)
